@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #82E0AA;
}

.container{
    height: auto;
    width: auto;
    
}

.thanks_header{
    font-family: Open Sans;
}
.text_block{
    background-color: #85C1E9;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.login_password{
    font-size: 18px;
    font-family: Open Sans;
    
}
.codding, .scills{
    font-weight: bold;
}
/* footer */
.footer {
    height: 100px;
    width: 500px;
    width: auto;
    background-color: #85C1E9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 33%;
}

.powered_by{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 165px;
    
}
.info_about{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}

/* adaptation */

@media screen and (max-width: 425px) {
    .footer {
        width: 100%;
    }
    .powered_by {
        margin-right: 0;
}

@media screen and (max-width: 375px) {
    .footer {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        justify-content: center;
        margin-top: 20px;
    }

    .powered_by {
        margin: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 10px;
    }

    .thanks_header {
        font-size: 20px;
    }

    .login_password {
        font-size: 16px;
    }

    .footer {
        padding: 10px;
    }
}
}